@model PoljoprivrednaGazdinstva.Models.tblPoljoprivrednoGazdinstvo

@{
    ViewBag.Title = "Create";
}

<h2>Kreiranje poljoprivrednog gazdinstva</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Vlasnik, "Adresa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Vlasnik", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Vlasnik, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Povrsina, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Povrsina, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Povrsina, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Registracija, "Cena registracija (u din.)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Registracija", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Registracija, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Osiguranje, "Vrsta osiguranja", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Osiguranje", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Osiguranje, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dokumentacija, "Dokumentacija", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Dokumentacija", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Dokumentacija, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kreiraj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Lista poljoprivrednih gazdinstava", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
