@model PoljoprivrednaGazdinstva.Models.tblEkspozitura

@{
    ViewBag.Title = "Details";
}

<h2>Informacije o ekspozituri</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblInstitucija.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblInstitucija.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.EkspozituraID }) |
    @Html.ActionLink("Lista ekspozitura", "Index")
</p>
