@model IEnumerable<PoljoprivrednaGazdinstva.Models.tblRegistracija>

@{
    ViewBag.Title = "Index";
}

<h2>Lista registracija</h2>

<p>
    @Html.ActionLink("Kreiraj novu registraciju", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DatumRegistracije)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumIsteka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistarskiBroj)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    string formattedDate = item.DatumRegistracije.HasValue ? item.DatumRegistracije.Value.ToString("dd-MMM-yy") : string.Empty;
                }
                @formattedDate
            </td>
            <td>
                @{
                    string formattedDate1 = item.DatumIsteka.HasValue ? item.DatumIsteka.Value.ToString("dd-MMM-yy") : string.Empty;
                }
                @formattedDate1
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistarskiBroj)
            </td>
            <td>
                @Html.ActionLink("Izmeni", "Edit", new { id = item.RegistracijaID }) |
                @Html.ActionLink("Detalji", "Details", new { id = item.RegistracijaID }) |
                @Html.ActionLink("Obrisi", "Delete", new { id = item.RegistracijaID })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Naslovna strana", "Index", "Home")
</div>

